@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: #000000;
  color: #e2e2e2;
  font-family: 'Courier New', Courier, monospace; 
  overflow-x: hidden;
}

/* Custom Scrollbar for that Tech feel */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #000; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00f3ff; 
}
